- title @profile.public_name

.main-menu__spacer
= render "header", profile: @profile
.spacer

- if @travel_plans.any?
  h2 = t ".next_travels"
  = render "components/calendar", events: @travel_plans
