- title @profile.public_name
- description @profile.bio
- thumbnail @profile.avatar_image

= render "header", profile: @profile
.spacer.spacer--small
- if @profile.posts.load.any? || @profile.travel_plans.any?
  = render "navigation-bar"
  = paginated @posts, id: "feed", class: "listing listing--small", partial: "posts/grid_post"
