- title @profile.public_name

.main-menu__spacer
= render "header", profile: @profile
.spacer.spacer--small
= render "navigation-bar"
- if @travel_plans.any?
  = render "components/calendar", events: @travel_plans
