- if policy(object).try(:edit?)
  - url = url_for([:edit, object]) rescue url_for([:edit, :admin, object])
  .status-banner.status-banner--toolbar: .container
    .button-line: a.button href=url = t ".edit"
