a class=("active" if params[:controller] == "posts") href=posts_path = t ".feed"
a class=("active" if params[:controller] == "events") href=events_path = t ".events"
a class=("active" if params[:controller] == "profiles") href=profiles_path = t ".profiles"
a class=("active" if params[:controller] == "conversations") href=conversations_path = t ".conversations"
a class=("active" if params[:controller] == "titleholders") href=titleholders_path = t ".titleholders"
