.signup: .signup__container
  form.signup__container target="_blank" action="https://thefetishtraveller.us18.list-manage.com/subscribe/post?u=aa4a99bda25e9aef2aeaf325a&amp;id=d7a07e0791"
  input.signup__email type="email" name="EMAIL" required=true placeholder=t(".cto")
  input.signup__button type="submit" value=t(".subscribe")
