// colors
$color-text: #272D3B;
$color-text-muted: #A8AAAD;
$color-text-label:#A8AAAD;
$color-text-muted-dark-background: #686D72;

$color-warning: #ff5167;
$color-background: #ffffff;
$color-background-dark: #191D24;
$color-background-dark-alternate: #17191D;
$color-tint: #D0021B;
$color-border: #e5e5e5;
$color-footer: #1D2024;
$color-shadow: rgba($color-text, 0.3);

// sizes
$size-text: 14px;

// font
$font-heading: 'Uni Sans', 'Open Sans', sans-serif;
$font-heading-alternate: 'Bebas Neue', 'Open Sans', sans-serif;
$font-text: 'Open Sans', sans-serif;

// breakpoints
$phablet: 600px;
$tablet:     740px;
$desktop:    1000px;
$widescreen: 1440px;
$widescreen-large: 1800px;
$widescreen-xlarge: 2200px;

// z values

$z-nav: 900;
