.context-menu {
  width: 24px;
  height: 24px;
  background-image: asset-url('icon/more.svg');
  background-size: contain;
  background-position: center;
  cursor: pointer;

  &__button {
    font-weight: 600;
  }

  &__button-destructive {
    color: var(--color-warning);
  }
}
