.filter-bar {
  --height: 80px;
  height: var(--height);
  display: flex;
  justify-content: flex-start;
  position: relative;
  font-size: 15px;
  font-weight: bold;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  text-transform: uppercase;
  padding: 0 50px;
  gap: 55px;

  &__option {
    line-height: var(--height);
    white-space: nowrap;
    cursor: pointer;
    position: relative;

    &--selected {
      color: var(--color-tint);

      &::before {
        content: '';
        display: block;
        width: 28px;
        position: absolute;
        height: 2px;
        background-color: var(--color-tint);
        top: 0;
        left: 50%;
        margin-left: -14px;
      }
    }
  }

  @media (min-width: $desktop) {
    justify-content: center;
  }

  &--inverted {
    background-color: var(--color-background-dark);
    color: white;
  }

  &--hero {
    --height: 40px;
    padding: 0;
    gap: 20px;
    justify-content: center;
  }
}
