.filter-bar {
  height: 80px;
  display: flex;
  justify-content: flex-start;
  position: relative;
  font-size: 15px;
  font-weight: bold;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  text-transform: uppercase;
  padding: 0 50px;

  &__option {
    line-height: 80px;
    white-space: nowrap;
    cursor: pointer;
    position: relative;

    + .filter-bar__option {
      margin-left: 55px;
    }

    &--selected {
      color: var(--color-tint);

      &::before {
        content: '';
        display: block;
        width: 28px;
        position: absolute;
        height: 2px;
        background-color: var(--color-tint);
        top: 0;
        left: 50%;
        margin-left: -14px;
      }
    }
  }

  @media (min-width: $desktop) {
    justify-content: center;
  }
}
