.footer {
  padding: 2rem 0;
  background-color: var(--color-footer);
  color: white;
  position: relative;

  p {
    color: var(--color-text-muted-dark-background);
  }

  &__copyright {
    font-size: 12px;
    color: var(--color-text-muted-dark-background);
  }

  &__social {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;

    a {
      margin-right: 1rem;
    }

    img {
      width: 24px;
      filter: invert(100%);
    }
  }

  &__category {
    flex: 1 0 0;
    position: relative;

    &:not(:last-child) {
      margin-right: 90px;
    }
  }

  &__headline {
    font-weight: bold;
    height: 36px;
    display: flex;
    align-items: flex-end;
  }

  &__locales {
    a:not(:last-child) {
      margin-right: 1ex;
      &::after {
        content: '/';
        margin-left: 1ex;
        color: white;
      }
    }

    a {
      cursor: pointer;
      &:hover,
      &.active {
        color: var(--color-tint);
      }
    }
  }

  @media (min-width: $tablet) {
    padding: 53px 0 59px;

    &__container {
      display: flex;
    }

    &__copyright {
      position: absolute;
      bottom: 0;
    }

    &__headline {
      margin-bottom: 30px;
    }
  }
}
