.heading {
  font-family: var(--font-heading);
  font-size: 42px;
  line-height: 1.2;
  text-align: center;
  position: relative;

  @media (min-width: $tablet) {
    font-size: 90px;
  }

  &.with-dash {
    padding-bottom: 40px;

    &::after {
      display: block;
      position: absolute;
      content: '';
      width: 72px;
      height: 6px;
      background-color: currentColor;
      bottom: 0;
      left: 50%;
      margin-left: -36px;
    }
  }
}
