.header {
  position: sticky;
  top: 0;
  height: 60px;
  z-index: var(--z-nav);
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;

  font-family: 'Bebas Neue';
  background-color: var(--color-footer);

  .logo {
    flex: 1 0 0;
    text-align: center;
    @media (min-width: $tablet) {
      text-align: left;
    }
  }
}
