.heart-button {
  width: 24px;
  height: 24px;
  background-image: asset-url('icon/heart-empty.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  &.active {
    background-image: asset-url('icon/heart.svg');
  }
}
