.hero {
  color: white;
  position: relative;
  background-color: var(--color-footer);
  min-height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;

  &--editorial {
    min-height: 60vh;
    overflow: hidden;

    @media (min-width: 768px) {
      min-height: 80vh;

      .hero__content {
        max-width: 500px;
      }

      .hero__background {
        filter: none;
        opacity: 1;
        max-width: 1200px;
        margin: 0 auto;
        background-position: right center;
      }
    }
  }

  &--article {
    padding: 2rem 1rem;

    @media (min-width: 768px) {
      padding: 4rem 0;
    }
  }

  &__background {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.7;
    filter: blur(3px);
  }

  &__content {
    flex: 1 0 0;
    z-index: 10;
  }

  &__addon {
    max-width: 500px;
    margin: 0 auto;
  }

  &__cta {
    display: flex;
    background-color: var(--color-tint);
    color: white;
    width: 120px;
    height: 120px;
    margin: 3rem auto 0;
    padding: 1rem;
    align-items: center;
    text-align: center;
    border-radius: 120px;
    font-size: 1.7em;
    font-family: var(--font-heading-alternate);
    font-weight: bold;

    @media (min-width: $tablet) {
      position: absolute;
      right: 2rem;
      top: 2rem;
      transform: rotate(12deg);
    }
  }
}
