.hero {
  margin: -60px 0 0;
  padding: calc(60px + 2rem) 0 2rem;
  color: white;
  position: relative;
  background-color: var(--color-footer);
  min-height: 350px;
  display: flex;
  align-items: center;

  &--expanded {
    min-height: 80vh;
  }

  &__background {
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.3;
  }

  &__content {
    flex: 1 0 0;
    z-index: 10;
  }

  &__addon {
    max-width: 500px;
    margin: 0 auto;
  }

  &__cta {
    display: flex;
    background-color: var(--color-tint);
    color: white;
    width: 120px;
    height: 120px;
    margin: 3rem auto 0;
    padding: 1rem;
    align-items: center;
    text-align: center;
    border-radius: 120px;
    font-size: 1.7em;
    font-family: var(--font-heading-alternate);
    font-weight: bold;

    @media (min-width: $tablet) {
      position: absolute;
      right: 2rem;
      top: 2rem;
      transform: rotate(12deg);
    }
  }

  h1 + &__addon {
    margin-top: -20px;

    @media (min-width: $tablet) {
      margin-top: -60px;
    }
  }
}
