.inline-upload {
  z-index: 99;
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: white;
  overflow: hidden;
  top: 5px;
  right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;

  input {
    position: absolute;
    appearance: none;
    display: block;
    margin: 0;
    padding: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    cursor: pointer;
  }

  &__ref {
    position: relative;
  }

  &::before {
    display: inline;
    content: '➕';
    font-size: 20px;
  }
}
