.listing-footer {
  background-color: var(--color-background-dark);
  border-left: 2px solid white;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  color: white;
  padding: 40px 0;
}
