.main-menu {
  font-size: 20px;
  font-weight: 600;
  padding: 0 16px;
  display: flex;
  align-items: center;
  line-height: 1;

  &__spacer {
    height: 60px;
    margin-top: -60px;
    background-color: var(--color-background-dark);
  }

  &__logo {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__links {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex: 1;
    justify-self: center;
    background-color: var(--color-footer);
    height: var(--size-tab-bar);
    align-items: center;
    padding-bottom: var(--size-safe-bottom);

    &-spacer {
      height: var(--size-tab-bar);
      background-color: var(--color-footer);
    }
  }

  &__link {
    flex: 1 0 0;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-weight: 700;

    &.active {
      color: var(--color-tint);
    }

    &-icon {
      width: 25px;
      height: 25px;
      background-size: contain;
      mask-size: contain;
      mask-position: center;
      mask-repeat: no-repeat;
      background-color: currentColor;
    }
  }

  &__user {
    flex: 1;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: flex-end;
    font-family: var(--font-heading-alternate);
  }

  &__avatar {
    width: 40px;
    display: flex;
  }

  &__plus {
    width: 24px;
    height: 24px;
    position: relative;
    background-image: asset-url('icon/plus.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__bell {
    width: 24px;
    height: 24px;
    position: relative;
    background-image: asset-url('icon/bell.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    &::after {
      content: attr(data-count);
      position: absolute;
      background-color: var(--color-tint);
      font-size: 12px;
      font-weight: 600;
      right: 0;
      line-height: 1;
      padding: 3px 4px 0;
      border-radius: 100%;
    }

    &[data-count='0']::after {
      display: none;
    }
  }

  @media (min-width: 900px) {
    padding: 0 75px;

    &__links {
      position: relative;
      gap: 16px;

      &-spacer {
        display: none;
      }
    }
  }
}
