.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: var(--z-modal);

  &__blind {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
  }

  &__window {
    position: relative;
    height: 80vh;
    margin-top: 10vh;
    display: flex;
    align-items: center;
  }

  &__content {
    background-color: white;
    flex: 1;
    opacity: 0;
    transform: translate(0, 80px);
    position: relative;
    padding: 1rem;
  }

  &--small {
    > .container {
      max-width: 420px;
    }
  }

  &--open {
    .modal__blind {
      opacity: 1;
      pointer-events: all;
    }

    .modal__content {
      opacity: 1;
      transform: none;
      pointer-events: all;
    }
  }

  &--enabled {
    .modal__blind {
      transition: opacity 0.5s;
    }

    .modal__content {
      transition: opacity 0.5s, transform 0.5s;
    }
  }
}
