.post {
  margin: 0 auto;

  &__meta {
    display: flex;
    gap: 16px;
    margin-bottom: 8px;
  }

  &__author {
    font-weight: 600;
  }

  &__meta-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__meta-actions {
    display: flex;
    align-items: center;
  }

  &__image {
    margin: 0 -8px;
    width: calc(100% + 16px);
    max-width: unset;
  }

  &__avatar {
    display: flex;
    align-items: center;
    width: 40px;
  }

  &__icon-bar {
    display: flex;
    gap: 8px;
    padding: 4px 0;
  }

  &__like-bar {
    padding: 4px 0;
  }

  &__date {
    font-size: 12px;
    color: var(--color-text-label);
  }

  &__comments {
    margin-top: 8px;
  }

  &__comment-bar {
    position: relative;

    textarea {
      outline: none;
      width: 100%;
      height: 1.5em;
    }

    input[type='submit'] {
      position: absolute;
      bottom: 0;
      right: 0;
      color: var(--color-tint);
    }
  }

  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 40px 1fr;
    gap: 8px;
    column-gap: 16px;

    &__meta {
      grid-row: 1;
      grid-column: 2;
    }

    &__image {
      grid-row: 1 / span 2;
      grid-column: 1;
      object-fit: contain;
      width: 100%;
      height: 100%;
      max-height: 60vh;
      margin: 0;
    }

    &__content {
      grid-row: 2;
      grid-column: 2;
    }
  }
}
