.profile-header {
  > .container {
    position: relative;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    line-height: 1;
    z-index: 1;
    position: relative;
    margin-top: -80px;
  }

  &__avatar {
    width: 160px;
    align-self: flex-start;
  }

  &__name {
    font-family: var(--font-heading);
    font-size: 42px;
    word-break: break-all;
  }

  &__text {
    flex: 1;
    text-align: center;

    @media (min-width: $tablet) {
      text-align: left;
      padding-top: 24px;
    }
  }

  &__background {
    z-index: 0;
    display: block;
    margin-left: -8px;
    margin-right: -8px;
    background-position: center;
    background-size: cover;
    height: 200px;
  }

  &__backdrop {
    background-color: var(--color-footer);
  }

  &__actions {
    display: flex;
    gap: 8px;
  }

  &__location {
    &::before {
      display: inline-block;
      content: '';
      background-image: asset-url('icon/location.svg');
      background-size: contain;
      height: 13px;
      width: 13px;
      margin-right: 4px;
    }
  }

  &__social {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__titles {
    color: var(--color-tint);
  }

  &__metrics {
    display: flex;
    gap: 1rem;
    justify-content: center;
  }

  &__social-link {
    display: flex;
    gap: 4px;
    align-items: center;

    &::before {
      display: inline-block;
      content: '';
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      height: 15px;
      width: 15px;
    }

    &--twitter::before {
      background-image: asset-url('social/twitter.svg');
    }

    &--instagram::before {
      background-image: asset-url('social/instagram.svg');
    }

    &--recon::before {
      background-image: asset-url('social/recon.svg');
    }

    &--romeo::before {
      background-image: asset-url('social/romeo.svg');
    }

    &--bluf::before {
      background-image: asset-url('social/bluf.svg');
    }

    &--onlyfans::before {
      background-image: asset-url('social/onlyfans.svg');
    }
  }

  &__cta {
    display: flex;
    gap: 8px;
    justify-content: center;
  }

  @media (min-width: $tablet) {
    &__avatar {
      margin-top: -80px;
    }

    &__content {
      padding-top: 80px;
      align-items: center;
      flex-direction: row;
    }

    &__background {
      height: 300px;
      margin-left: -30px;
      margin-right: -30px;
    }

    &__social,
    &__metrics,
    &__cta {
      justify-content: flex-start;
    }
  }
}
