.search-bar {
  position: fixed;
  top: var(--size-navbar);
  left: 0;
  right: 0;
  color: white;
  background-color: var(--color-footer);
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - var(--size-tab-bar) - var(--size-navbar));

  &:hidden {
    display: none;
  }

  &__input {
    height: 60px;

    width: 100%;
    outline: none;
    padding: 0 16px;
  }

  &__results {
    z-index: var(--z-search);
    border-bottom: 1px solid white;
    overflow: auto;
  }

  &__result {
    display: flex;
    gap: 16px;
    padding: 8px 16px;
    border-top: 1px solid var(--color-text);
    height: 77px;
  }

  &__result-image {
    flex: 0 0 60px;
    max-width: 60px;
    object-fit: cover;
  }

  &__result-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__result-title {
    font-weight: 600;
  }

  &__result-subtitle {
    font-size: 0.8em;
    color: var(--color-text-label);
  }
}
