.spacer {
  height: 80px;

  @media (min-width: $tablet) {
    height: 150px;
  }

  &--no-margin {
    height: 0;
  }

  &__medium {
    height: 80px;
  }

  &--small {
    height: 60px;
  }

  &--tiny {
    height: 30px;
  }
}
