a.titleholder-listing href=titleholder_path(titleholder) target="_top" style="background-image: url(#{image_asset_url(titleholder.picture, width: 500)})"
  .titleholder-listing__country = titleholder.title.country.name
  .titleholder-listing__name = titleholder.name
  .titleholder-listing__title = titleholder.full_title
