= t ".followed_html", users: to_sentence(notifications.map { |notification| link_to(notification.sender.public_name, profile_url(notification.sender, locale: I18n.locale)) }), count: notifications.size
