= cache [I18n.locale, user]
  a.user-listing href=profile_path(user) target="_top" style="background-image: url(#{image_asset_url(user.avatar_image, width: 500)})"
    .user-listing__name = user.public_name
    .user-listing__location = user.location_description
