* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  appearance: none;
  font-size: 1em;
  font-family: inherit;
  line-height: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
