h3 = t ".setup_profile"
p = t ".lets_get_started"
= f.input :slug, description: t(".this_is_your_handle")
= f.input :avatar, as: :image, description: t(".show_yourself")
= f.input :location_description, description: t(".location_description")
p = t ".create_a_bio"
= f.input :bio, as: :text
