h3 = t ".profile_visibility"
p = t ".your_choice"
= f.radio_button :visibility, "public", required: true, description: t(".public_description")
= f.radio_button :visibility, "internal", required: true, description: t(".internal_description")
