.footer {
  padding: 2rem 0;
  background-color: $color-footer;
  color: white;

  p {
    color: $color-text-muted-dark-background;
  }

  &__copyright {
    font-size: 12px;
    color: $color-text-muted-dark-background;
  }

  &__category {
    flex: 1 0 0;
    position: relative;

    &:not(:last-child) {
      margin-right: 90px;
    }
  }

  &__headline {
    font-weight: bold;
    height: 36px;
    display: flex;
    align-items: flex-end;
  }

  &__locales {
    a:not(:last-child) {
      margin-right: 1ex;
      &::after {
        content: '/';
        margin-left: 1ex;
        color: white;
      }
    }

    a {
      cursor: pointer;
      &:hover, &.active {
        color: $color-tint;
      }
    }
  }

  @media(min-width: $tablet) {
    padding: 53px 0 59px;

    > .container {
      display: flex;
    }

    &__copyright {
      position: absolute;
      bottom: 0;
    }

    &__headline {
      margin-bottom: 30px;
    }
  }
}
