.header {
  position: relative;
  top: 0;
  height: 60px;
  padding-top: 1rem;
  z-index: $z-nav;
  color: white;

  &--detached {
    background-color: $color-background;
  }
}

.main-menu {
  display: flex;
  justify-content: space-between;
}
