.header {
  position: relative;
  top: 0;
  height: 60px;
  padding-top: 1rem;
  z-index: $z-nav;
  color: white;

  &--detached {
    background-color: $color-background;
  }
}

.main-menu {
  display: flex;
  justify-content: space-between;
  font-size: 17px;
  font-weight: 600;
  align-items: baseline;

  &__category {
    flex: 1 0 0;
    text-align: center;

    &:first-child {
      text-align: left;
    }

    &:last-child {
      text-align: right;
    }

    > *:not(:last-child) {
      margin-right: 1rem;
    }
  }
}
