.hero {
  margin: -60px 0 0;
  padding: calc(60px + 2rem) 0 2rem;
  color: white;
  position: relative;
  background-color: $color-footer;
  min-height: 350px;
  display: flex;
  align-items: center;

  &--expanded {
    min-height: 80vh;
  }

  &__background {
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.3;
  }

  &__content {
    flex: 1 0 0;
    z-index: 10;
  }
}
