.listing {
  @media(min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;

    > * {
      display: block;
      flex: 0 0 calc(33.333333% - 2rem);
      margin-right: 1rem;
    }
  }
}
