.meta-box {
  display: block;
  padding: 20px;
  background-color: $color-background-dark;
  color: white;
  position: relative;
  margin-bottom: 20px;
  
  @media(min-width: $tablet) {
    width: 320px;
    float: left;
    margin: 0 20px 20px 0;
  }

  &--floating {
    @media(min-width: $desktop) {
      float: right;
      margin: -60px -20px 20px 20px;
    }
  }
}