.spacer {
  margin-bottom: 80px;

  @media(min-width: $tablet) {
		margin-bottom: 150px;
  }
  
  &--for-navbar {
    height: 60px;
    margin-top: -60px;
    background-color: $color-background-dark;
  }

  &--no-margin {
    margin-bottom: 0;
  }

  &--small {
    margin-bottom: 60px;
  }
}
