.spacer {
  height: 80px;

  @media(min-width: $tablet) {
		height: 150px;
  }

  &--for-navbar {
    height: 60px;
    margin-top: -60px;
    background-color: $color-background-dark;
  }

  &--no-margin {
    height: 0;
  }

  &--small {
    height: 60px;
  }

  &--tiny {
    height: 30px;
  }
}
