.listing {
  background-color: $color-background-dark;
  border: 1px solid white;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));

  &__entry {
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .gallery__image {
      cursor: pointer;
      width: 100%;

      &::before {
        display: block;
        content: '';
        padding-top: 100%;
      }

      img {
        position: absolute;
        object-fit: cover;
        top: 0;
        height: 100%;
        width: 100%;
      }
    }
  }

  &--small {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
  &--single-line {
    display: flex;

    .listing__entry {
      @media (min-width: $phablet) {
        @for $i from 3 through 6 {
          &:nth-child(#{$i}) {
            display: none;
          }
        }
      }

      @media (min-width: $desktop) {
        &:nth-child(3) {
          display: block;
        }
      }

      @media (min-width: $widescreen) {
        &:nth-child(4) {
          display: block;
        }
      }

      @media (min-width: $widescreen-large) {
        &:nth-child(5) {
          display: block;
        }
      }

      @media (min-width: $widescreen-xlarge) {
        &:nth-child(6) {
          display: block;
        }
      }
    }
  }
}
