:root {
  --color-text: #272d3b;
  --color-text-muted: #a8aaad;
  --color-text-label: #a8aaad;
  --color-text-muted-dark-background: #686d72;

  --color-warning: #ff5167;
  --color-error: #ff5167;
  --color-background: #ffffff;
  --color-background-dark: #191d24;
  --color-background-dark-alternate: #17191d;
  --color-tint: #d0021b;
  --color-warn: #f39c12;
  --color-border: #e5e5e5;
  --color-footer: #1d2024;
  --color-shadow: rgba(--color-text, 0.3);

  --size-text: 14px;
  --size-safe-inset: 0px;
  --size-safe-inset: env(safe-area-inset-left);
  --size-safe-padding: 8px;
  --size-safe-padding: max(env(safe-area-inset-right), 8px);
  --size-safe-bottom: 0px;
  --size-safe-bottom: max(env(safe-area-inset-bottom), 0px);
  --size-tab-bar: calc(49px + var(--size-safe-bottom));

  --font-heading: 'Uni Sans', 'Open Sans', sans-serif;
  --font-heading-alternate: 'Bebas Neue', 'Open Sans', sans-serif;
  --font-text: 'Open Sans', sans-serif;

  --z-nav: 900;
  --z-modal: 1000;
}

.keyboard-visible {
  --size-tab-bar: 0px;
  --size-safe-bottom: 0px;
}

@media (min-width: 900px) {
  :root {
    --size-tab-bar: 0px;
  }
}
