doctype html
html lang=I18n.locale
  head
    meta http-equiv="Content-Type" content="text/html; charset=utf-8"
    css:
      body {
        max-width: 520px;
        margin: 20px auto;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
      }
      a {
        color: #d0021b;
        text-decoration: none;
      }
      .logo {
        text-transform: uppercase;
        font-weight: bold;
        color: inherit;
      }
      .button {
        color: inherit;
        display: inline-block;
        margin: 0 auto;
        font-weight: 800;
        text-transform: uppercase;
        height: 32px;
        line-height: 32px;
        padding: 0 10px;
        border: 2px solid #d0021b;
        cursor: pointer;
        text-align: center;
      }
  body
    p: a.logo href=root_url(locale: I18n.locale) The<span style="color:#d0021b">Fetish</span>Traveller
    = yield
    = render "components/mail_footer"
